* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: radial-gradient(circle at top, #111827, #020617);
  color: #e5e7eb;
  min-height: 100vh;
  overflow-x: hidden;
}

/* NAV */
header {
  padding: 15px 140px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 500;
  letter-spacing: 1px;
}

nav ul {
  display: flex;
  gap: 40px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 60px;
  perspective: 1200px;
}

.hero-text h1 {
  font-size: 3.5rem;
}

.hero-text h2 {
  font-size: 3.5rem;
  margin: 1px 0;
}

.hero-text span {
  color: #38bdf8;
}

.hero-text h3 {
  font-size: 3.5rem;
  color: white;
  margin-bottom: 40px;
}

.hero-text button {
  padding: 12px 43px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(135deg, #38bdf8, #38bdf8);
  font-size: 1rem;
  cursor: pointer;
  color: #020617;
  transition: transform 0.3s, box-shadow 0.3s;
}

.hero-text button:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 40px rgba(56,189,248,0.4);
}

/* IMAGE CARD 3D */
.hero-image {
  display: flex;
  justify-content: center;
}

.image-card {
  width: 250px;
  height: 390px;
  border-radius: 50%;
  background: linear-gradient(145deg, #38bdf8, #1e293b);
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  animation: float 5s ease-in-out infinite;
}

.image-card img {
  width: 90%;
  border-radius: 50%;
  transform: translateZ(40px);
}

/* FLOAT ANIMATION */
@keyframes float {
  0% { transform: translateY(0) rotateY(0); }
  50% { transform: translateY(-20px) rotateY(10deg); }
  100% { transform: translateY(0) rotateY(0); }
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  header {
    padding: 20px 40px;
  }
}
